<!DOCTYPE html>
<html lang="en">
<head>
    <title>Notebook</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <script src="https://unpkg.com/vue/dist/vue.js"></script> 
    <!-- Marked第三方库 -->
    <script src="https://unpkg.com/marked"></script>
    <!-- 时间和日期操作库 -->
    <script src="https://unpkg.com/moment"></script>
    <div id="notebook">
      
        <aside class="side-bar">
           
            <div class="toolbar">
                <button @click="addNote" v-bind:title="addButtonTitle"><i class="material-icons">add</i>添加笔记</button>
            </div>
            <!-- 笔记本列表 -->
            <div class="notes">
                <div class="note" v-for="note of sortedNotes" @click="selectNote(note)"
                v-bind:class="{selected:note===selectedNote}">
                <i class="icon material-icons" v-if="note.favorite">star</i>
                    {{note.title}}
                </div>
            </div>
            <div class="note">
                    <a href="http://www.weegeek.club/supportcenter/" target="_blank">Support Center</a>
                </div>
        </aside>
        <!-- 主面板 -->
        <!-- tempate的作用是统一使用v-if。template不会出现在DOM中，用于对实际元素的重新组合 -->
        <template v-if="selectedNote">
            <section class="main" >
                <div class="toolbar">
                   <input v-model="selectedNote.title" type="text" placeholder="Note title" />
                   <button @click="favoriteNote" title="收藏笔记">
                       <i class="material-icons">
                            {{selectedNote.favorite?"star":"star_border"}}

                       </i>
                   </button>
                   <button @click="removeNote" title="删除笔记">
                       <i class="material-icons">delete</i>
                    </button>
                </div>
                <textarea v-model="selectedNote.content" rows="30"></textarea>
                <div class="toolbar status-bar">
                    <!-- 显示笔记创建时间 -->
                    <span class="date">
                        <span class="label">创建于</span>
                        <span class="value">{{ selectedNote.created | date}}</span>
                    </span>
                    <span class="lines">
                            <span class="label">行数</span>
                            <span class="value">{{ linesCount}}</span>
                    </span>
                    <span class="words">
                            <span class="label">字数</span>
                            <span class="value">{{ wordsCount}}</span>
                    </span>
                    <span class="characters">
                            <span class="label">字符数</span>
                            <span class="value">{{ charactersCount}}</span>
                    </span>
                </div>
            </section>
            <!-- 在右边显示textarea的输入内容 -->
            <aside class="preview" v-html="notePreView">
            <!-- {{notePreView}} -->
            </aside>
        </template>
     
    </div>
    <script src="script.js"></script>
</body> 
</html>